<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngryTest</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'angry_app:index' %}">
            AngryTest</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'angry_app:my_page' %}">
                        МОЯ СТРАНИЦА</a></li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <big><span class="navbar-text me-2">{{ user.username.title }}</span></big>
                </li>
                <form action="{% url 'users:logout' %}" method='post'>
                    {% csrf_token %}
                    <button name='submit' class='btn btn-outline-secondary btn-sm'>Log out</button>
                </form>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<main class="container">
    <div>
        {% block page_header %}
        {% endblock page_header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
</main>

</body>
</html>